*#
*~
2???-??-??-2???-??-??-posts.org
2???.org
*.bak
*.gmi
*.html
*.md
.htaccess
bak
blog.org
dot.org
icn/*
img.org
img/blog2mastodon.png
img/git-flow-full.png
img/graphviz-circo.png
img/graphviz-dot.png
img/graphviz-fdp.png
img/graphviz-neato.png
img/graphviz-sfdp.png
img/graphviz-twopi.png
img/imapfilter-imap-offlineimap-maildir-mutt-smtp.png
index.org
links.org
public
sitemap.xml.gz
stats-posts.org
tmb/*
years.org
